/* image container */
.img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  pointer-events: none;
}

.img-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: var(--z-index-background-image);
  transition: opacity 0.3s ease;
}

.img-container img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0%;

  -webkit-transition: opacity var(--background-change-time) ease-in-out;
  -moz-transition: opacity var(--background-change-time) ease-in-out;
  -o-transition: opacity var(--background-change-time) ease-in-out;
  transition: opacity var(--background-change-time) ease-in-out;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.img-container img.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
