.section.todo > .content {
  display: grid;
  grid-gap: 10px;
  width: inherit;
}

.todo .list {
  background-color: var(--section-elements-background-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: grid;
  transition: all 0.4s ease-out;
}

.todo .list.remove {
  opacity: 0;
  transform: translateY(-10px);
}

.todo .list p {
  cursor: pointer;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo .list p.completed {
  text-decoration: line-through;
  color: red;
}

.todo .list:hover {
  background-color: var(--section-elements-background-color-hover);
}

.todo .list button {
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.todo .list svg {
  pointer-events: none;
}