<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Details</title>
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/edit.css">
</head>
<body>

  <div class="main-container">
    <div class="section accounts">
      <h1>accounts</h1>
      <ul class="draggable-list d-accounts"></ul>
    </div>

    <div class="section shortcuts">
      <h1>shortcuts</h1>
      <ul class="draggable-list d-shortcuts"></ul>
    </div>
  </div>

  <script type="module" src="../scripts/edit.js"></script>
</body>
</html>