<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/popup.css">
</head>
<body>

  <div class="add">
    <h3>Add Todo</h3>
    <form class="input-todo">
      <input placeholder="Enter text here" type="text">
      <input type="submit" value="Add">
    </form>
  </div>

  <div class="add">
    <h3>Add Shortcut</h3>
    <form class='input-shortcut'>
      <input placeholder="Enter Name" type="text" />
      <input placeholder="Enter Link" type="text" />
      <input type="submit" value="Add">
    </form>
  </div>

  <div class="add">
    <h3>Add Account</h3>
    <form class='input-account'>
      <input placeholder="Enter Email" type="email" />
      <input type="submit" value="Add">
    </form>
  </div>

  <button class="edit">Edit</button>

  <script type="module" src="../scripts/popup.js"></script>
</body>
</html>
